spring:
  application:
    name: backend
  datasource:
    url: jdbc:postgresql://localhost:5433/driving_school_platform
    username: driving_admin
    password: <REDACTED>

  jpa:
    hibernate:
      ddl-auto: update

    show-sql: true

    properties:
      hibernate:
        format_sql: true

